.dashboard-container {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: inherit; /* Herda o tamanho do HTML */
}

.dashboard-container h2 {
    font-size: inherit; /* Herda o tamanho do HTML */
    color: #2d89ef;
    margin-bottom: 10px;
}

.dashboard-container p {
    font-size: inherit; /* Herda o tamanho do HTML */
    color: #555555;
    margin-top: 10px;
}
